[Unit]
Description=Vaultwarden: password manager
Documentation=https://github.com/dani-garcia/vaultwarden
After=network.target

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/live/
ReadWriteDirectories=__INSTALL_DIR__/live/ __DATA_DIR__/ /var/log/__APP__/
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/live/vaultwarden
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

# Set reasonable connection and process limits
LimitNOFILE=1048576
LimitNPROC=64

# Sandboxing options to harden security
# Depending on specificities of your service/app, you may need to tweak these 
# .. but this should be a good baseline
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=false
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
